<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">dkashp</property>
		<property name="hibernate.connection.password">dkashp</property>
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/RWS_DB</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<mapping class="dkashp.rest.dto.Shape"></mapping>
		<mapping class="dkashp.rest.dto.Circle"></mapping>
	</session-factory>
</hibernate-configuration>